In [1]:
a=10;
s1="python"
s2='p'
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

10 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [3]:
# A number is give 1234
#Digit count
a1=1234
print(len(str(a1)))

4

In [8]:
# want a number as a input
n1 = int(input("Enter the number"))
print(n1,type(n1))

Enter the number4
4 <class 'int'>

In [5]:
s1=input("what your name")
print(s1)
print(type(s1))

what your nameakshith
akshith
<class 'str'>

#

In [7]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
4
123
8187505353567209228244052427776

In [9]:
x = 1 + 2 ** 3/4 + 5
print(x)

8.0

In [11]:
x=10
a1=x>15
print(a1)

False

In [13]:
i=50
a1=(i>10) and (i<100)
a2=(i>20) and (i<68)
print(a1)
print(a2)

True
True